.catalog {
  padding-top: 16px;
  padding-bottom: 96px;

  @media (max-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 72px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 7px;
    padding-bottom: 48px;
  }
}

.catalog__title {
  margin: 0 0 36px;

  @media (max-width: $mobile-width) {
    margin-bottom: 24px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 34px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    gap: 18px;
  }
}

.catalog__item {
  box-shadow: 0 6px 30px 4px rgba(32, 32, 32, 0.1);
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: scale(1.01);

  }
}

