.product {
  padding: 16px 0 82px;

  @media (max-width: $desktop-width) {
    padding: 18px 0 60px;
  }

  @media (max-width: $tablet-width) {
    padding: 7px 0 36px;
  }
}

.product__img {
  width: 100%;
  height: auto;
  margin-bottom: 36px;
  box-shadow: 0 6px 30px 4px rgba(32, 32, 32, 0.1);
  border-radius: 30px;

  @media (max-width: $desktop-width) {
    border-radius: 20px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 24px;
    border-radius: 10px;
  }
}

.product__title {
  margin: 0 0 18px;
  font-size: var(--h1);
  font-weight: 700;

  @media (max-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.product__date {
  margin: 0 0 24px;
  font-size: var(--h2);
  color: $secondary__fonts-color;
}

.product__description {
  margin: 0 0 14px;
  font-size: var(--text);

  @media (max-width: $desktop-width) {
    margin-bottom: 12px;
  }
}
