@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rosario";
  font-style: normal;
  font-weight: 799;
  src: url("../fonts/rosario/Rosario-Bold.ttf") format("truetype");
  font-display: swap;
}
