//fonts-colors
$primary__fonts-color: #333333;
$secondary__fonts-color: #939393;
$accent-color: #E11C4B;

$light-gray-decoration-color: #E8E8E8;
$dark-gray-decoration-color: #8D8D8D;
$search-decoration-color: #DDDDDD;


//background-colors
$main__background-color: #FFFFFF;
$base__background-color: #F4F4F4;

//viewports
$tablet-width: 768px;
$desktop-width: 1230px;
$mobile-width: 320px;
