//fonts-colors
$primary__fonts-color: #333333;
$secondary__fonts-color: #939393;
$accent-color: #e11c4b;

$light-gray-decoration-color: #e8e8e8;
$dark-gray-decoration-color: #8d8d8d;
$search-decoration-color: #dddddd;


//background-colors
$main__background-color: #ffffff;
$base__background-color: #f4f4f4;

//viewports
$tablet-width: 768px;
$desktop-width: 1230px;
$mobile-width: 320px;
